h1{
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 0px 0px 5px black;
}
.container{
    border: solid black 3px;

    height:490px;
    width: 300px;

}
.flexbox-container{
    border: solid black 3px;

    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
    height:420px;
    width: 250px;
    margin-left: 10px;
    margin-right: 35px;
}
.main-menu-choices{
    border: solid black 3px;
    width: 100px;
    height: 90px;
    background-position: center;
    background-size: cover;
    align-content: center;
}
.main-menu-choices p{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-size: .8rem;
    top: 44%;
}
.managers-btn{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: .55rem;
    font-weight: bold;
    border-radius: 50px;
    border: solid black 3px;
    right: 10px;
    top: 50%;
    position: absolute;
    background-color: hsl(120, 94%, 33%);
}
.managers-btn p{
    margin-top: 40%;
}
/* IMAGES FOR MENU CHOICES */
#b1{
    background-image: url(main-menu-1.png);
}#b2{
    background-image: url(main-menu-2.png);
}#b3{
    background-image: url(main-menu-3.jpg);
}#b4{
    background-image: url(main-menu-4.png);
}#b5{
    background-image: url(main-menu-5.png);
}#b6{
    background-image: url(main-menu-6.png);
}